<html>
	<head>
		<title>New Post</title>
		<script>
		function goBack()
		{window.history.back()}
		</script>
	</head>
	<body>
	<div class="container">
		<h1>Add a new post!</h1>
		<form id="new_post" action="/create" method="post">
			<h3>Title:</h3>
			<input type="text" name="title" size="100" placeholder="Your title here">
			<br><br>
			<div>Select a category:</div>
			<select name="category">
				<% @counter = 0 %>
				<% @main_categories.each do |maincat| %>
						<option value=<%=maincat.name%>><%=maincat.full_title%></option>
					<% @subcats_of_main[@counter].each do |subcat| %>
						<option value=<%=subcat.name%>><%="-- #{subcat.full_title}"%></option>
					<% end %>
					<% @counter += 1 %>
				<% end %>
			</select>
			<br><br><br>
			<h3>Your Post:</h3>
			<textarea name="description" rows="6" cols="50"></textarea>
			<br><br><br>
			<div>Price, if applicable:</div>
			<input type="text" name="price" size="25" placeholder="Feel free to leave blank">
			<br><br>
			<div>Email address:</div>
			<input type="text" name="email" size="60" placeholder="Enter your email here, if you're seeking direct responses">
			<br>
			<br>
			<input type="submit" value="Submit my post!">
		</form>
	</div>
	<div class="container">
		<br>
		<form action="/" method="get">
			<input type="button" value="Back" onclick="goBack()">
			<input type="submit" value="Home">
		</form>
	</div>	
	</body>
</html>